<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{minimal-header :: minimal-header('Admin Dashboard', ~{::section})}">
<section>

  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold">Admin Dashboard</h1>

    <a class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
       th:href="@{/admin/projects/new}">
      + Add New Project
    </a>
  </div>

  <div th:replace="~{fragments/project-table :: projectTable(${projectPage}, ${size}, '/admin/dashboard', true)}"></div>

</section>
</html>