<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{minimal-header :: minimal-header('Edit Project', ~{::section})}">
<section class="max-w-3xl mx-auto">

<!--  <div class="mb-6">-->
<!--    <h1 class="text-3xl font-bold">Edit Project</h1>-->
<!--    <p class="text-gray-600">Update the project details.</p>-->
<!--  </div>-->

  <div class="bg-white shadow rounded-2xl p-6">
    <div th:replace="~{admin/project-form :: projectForm(
        ${project},
        '/admin/projects/' + ${project.id} + '/edit',
        'Save Changes',
        '/admin/dashboard'
    )}"></div>
  </div>

</section>
</html>