<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{minimal-header :: minimal-header('Projects', ~{::section})}">
<section>

<!--  <h1 class="text-3xl font-bold mb-6">Projects</h1>-->

  <div th:replace="~{fragments/project-table :: projectTable(${projectPage}, ${size}, '/admin/dashboard', false)}"></div>

  <!--  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">-->
<!--    <div th:each="project : ${projects}" class="card bg-base-100 shadow">-->
<!--      <figure><img th:src="${project.imageUrl}" class="h-40 w-full object-cover" /></figure>-->
<!--      <div class="card-body">-->
<!--        <h2 class="card-title" th:text="${project.title}"></h2>-->
<!--        <p th:text="${project.shortDescription}"></p>-->
<!--        <div class="card-actions justify-end">-->
<!--          <a class="btn btn-primary btn-sm" th:href="@{'/projects/' + ${project.id}}">Read more</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</section>
</html>